
# Labber crashes when these libraries are NOT installed
future>=0.18.2
numpy>=1.21.2
scipy>=1.7.1
h5py>=3.4.0
matplotlib
# Pyvisa 1.12.0 does NOT work Labber Stanford drivers
pyvisa==1.11.3
pyvisa-py==0.5.3
pyvisa-sim==0.5.1
wheel

# This is required by heater_termometrie_2021
# TODO: Fix the compact code in this repo to be able to run against the newest mpfshell2.
mpfshell2==100.9.17
